/*Import Google font --Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background: #E3F2FD;
}
.chatbot-toggler{
    position: fixed; /*rogzitve van az ablakhoz*/
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    background: #00AB66;
    border-radius: 50%;
    transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler{
    transform: rotate(90deg); /*90 fokkal elforditjuk*/
}
.chatbot-toggler span {
    color:#fff;
    position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}


.chatbot{
    position: fixed; /*rogzitve van az ablakhoz*/
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgb(0,0,0,0.5);
    transition: all 0.1s ease;

}
body.show-chatbot .chatbot{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}


.chatbot header {
    background: #00AB66;
    padding: 16px 0;
    text-align: center;
    position: relative;
    color:#fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span{
    position: absolute;
    right: 15px;
    top:50%;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);

}
.chatbot header h2{
    font-size: 1.4rem;
}

.chatbot .chatbox{
    height: 510px;
    overflow-y: auto; /*fuggoleges iranyban gorgetheto*/
    padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}
.chatbot .chat{
    display: flex;
    list-style: none;
}
.chatbot .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #00AB66;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbot .chat p {
    white-space: pre-wrap;
    font-size: 0.95rem;
    color:#fff;
    max-width: 75%;
    padding:12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #00AB66;
}
.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
    color: #000;
    background: #f2f2f2;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 75%;
}
.chatbox .incoming p a {
  word-break: break-all;
  color: #0077cc;
  text-decoration: underline;
}
.chatbox .incoming ol {
  list-style-position: inside;
}

.chatbox .incoming li {
  margin-left: 10px;
}
.chatbot .chat-input{
    display: flex;
    gap:5px; /*elemek kozotti tavolsagot szavalyozza*/
    position: absolute; /*a gyermek elem pozicionalasa*/
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    max-height: 180px;
    font-size: 0.95rem;
    resize: none;
    padding: 15px 15px 15px 0;
}
.chat-input span{
    align-self: flex-end;/* Az elem a kontener aljara kerul */
    height: 55px;
    display: flex;
    color:#00AB66;
    align-items: center;
    cursor: pointer; /*mutato ujjkent valo megjelenitese-> elem kattinthato*/
    visibility: hidden;
    font-size: 1.35rem;

}

.chat-input textarea:valid ~ span {
    visibility: visible;
  }
  @media (max-width: 500px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
  }